html {
  box-sizing: border-box;
}
*. .::before,
.::after {
  box-sizing: inherit;
}
:root {
  --accent-color: #2196f3;
  --text-color: #757575;
  --background-color: #ffffff;
  --headertext-color: #212121;
  --color-footer: rgba(255, 255, 255, 0.6);
  --background-color-footer-main: #2f303a;
  --background-color-mainteam: #f5f4fa;
  --button-backgroud-color: #188ce8;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--headertext-color);
  background-color: var(--background-color);
}
.list {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
.link {
  text-decoration: none;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}
.center {
  text-align: center;
}
.section {
  padding-bottom: 94px;
  padding-top: 94px;
}
h1,
h2,
h3,
h4,
h5,
p {
  margin: 0px;
}
img {
  display: block;
  max-width: 100%;
}
ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
/*------HEADER----*/
.header-border {
  border-bottom: 1px solid #ececec;
}
.container-header {
  display: flex;
  align-items: center;
  height: 80px;

  /* display: flex; 
  align-items: center;*/
}
.header-logo {
  padding-top: 24px;
  padding-bottom: 24px;
  margin-left: 0px;
  margin-right: 93px;
  display: block;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
}
.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
.header-list {
  display: flex;
  align-items: center;
}
/*.header-item {
  margin-right: 50px;
}
.header-list .header-item:last-child {
  margin-right: 0px;*
}*/
.header-list .header-item:not(:last-child) {
  margin-right: 50px;
}
.header-item {
}
.header-link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--headertext-color);
  transition: color 250ms var(--timing-function);
}
.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}
.header-link.link.current {
  color: var(--accent-color);
}
.current::after {
  position: absolute;
  left: 0px;
  content: " ";
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
  bottom: -1px;
  transition: 250ms var(--timing-function);
}
/*.header-link:hover::after {
  opacity: 1;
}*/

/*------contact list-------*/
.header-address {
  margin-left: auto;
}
.contacts-list {
  display: flex;
  margin-left: auto;
  align-items: baseline;
}
.contacts-list .contacts-item + .contacts-item {
  margin-left: 50px;
}
.contacts-item {
}
/*.header-mail::before {
  display: inline-block;
  content: " ";
  width: 16px;
  height: 12px;
  margin-right: 10px;
  background-color: red;
}*/
.header-mail {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color);
  text-align: center;
  transition: color 250ms var(--timing-function),
    fill 250ms var(--timing-function);
}
.header-mail {
  fill: var(--text-color);
}
.header-mail:hover,
.header-mail:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}
.header-mail-icon {
  display: flex;
  margin-right: 10px;
}
/*.header-tel::before {
  display: inline-block;
  content: " ";
  width: 10px;
  height: 16px;
  margin-right: 10px;
  background-color: red;
}*/
.header-tel-icon {
  margin-right: 10px;
  display: flex;
}
.header-tel {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color);
  fill: var(--text-color);
  transition: color 250ms var(--timing-function),
    fill 250ms var(--timing-function);

  align-content: center;
  align-items: flex-end;
}
.header-tel:hover,
.header-tel:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}
/*------Main section----*/
.overlay {
  max-width: 1600px;

  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images1/studia/herojpg1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.main-hero {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-color: #c4c4c4;
}
.hero-text {
  margin-left: auto;
  margin-right: auto;
  width: 696px;
  margin-bottom: 30px;
  margin-top: 0px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--background-color);
}
.hero-btn {
  border-radius: 4px;
  border-color: transparent;
  padding: 10px 32px;
  text-align: center;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--background-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms var(--timing-function);
  cursor: pointer;
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--button-backgroud-color);
}
/*------Section peculiarities-----*/
.peculiarities-section {
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.peculiarities {
  margin-bottom: 10px;
  margin-top: 0px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--headertext-color);
}
.peculiarities-list {
  display: flex;
}
.peculiarities-list .peculiarities-item + .peculiarities-item {
  margin-left: 30px;
}
.peculiarities-item {
  flex-basis: calc((100% - 3 * 30px) / 4);
  display: block;
}
.peculiarities-item::before {
  display: flex;
  content: " ";
  height: 120px;
  background-color: var(--background-color-mainteam);
  border-radius: 4px;
  margin-bottom: 30px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  justify-content: center;
  align-content: stretch;
  align-items: center;
}
.icon-antenna::before {
  content: url("../images1/antenag.svg");
}
.icon-clock::before {
  content: url("../images1/clock1.svg");
}
.icon-diagrama::before {
  content: url("../images1/diagram1.svg");
}
.icon-astronaut::before {
  content: url("../images1/astronaut1.svg");
}

.peculiarities-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color);
  margin: 0px;
}
/*----Work section-----*/
.work-section {
  padding-bottom: 94px;
}
.work-title {
  margin-bottom: 50px;
  margin-top: 0px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--headertext-color);
}
.work-list {
  display: flex;
}
.work-list .work-item + .work-item {
  margin-left: 30px;
}
.work-item {
  position: relative;
}
.work-section-label {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
  height: 70px;
  width: 100%;
}
/*--------TEAM-----*/
.main-team {
  margin-top: 0px;
  padding-bottom: 94px;
  padding-top: 94px;
  background-color: var(--background-color-mainteam);
}
.container-team {
  text-align: center;
  margin-bottom: 0px;
}
.team {
  margin-bottom: 50px;
  margin-top: 0px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--headertext-color);
}
.team-list {
  display: flex;
}

.team-list .team-item + .team-item {
  margin-left: 30px;
}
.team-item {
  width: 270px;
  height: 428px;
  background-color: var(--background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-photo {
}
.subscribe-photo {
  padding: 30px 10px;
}
.team-name {
  margin-top: 0px;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--headertext-color);
}
.team-specialist {
  margin-top: 0px;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--text-color);
  margin-bottom: 16px;
}
.subscribe-soc-item {
  display: inline-block;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-size: contain;
}
.subscribe-soc-list .subscribe-soc-item + .subscribe-soc-item {
  margin-left: 10px;
}
.subscribe-soc-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #afb1b8;
  background-color: var(--background-color);
  transition: background-color 250ms var(--timing-function),
    fill 250ms var(--timing-function);
}
.subscribe-soc-link:hover,
.subscribe-soc-link:focus {
  background-color: var(--accent-color);
  fill: var(--background-color);
}

.subscribe-soc-icon {
  content: "";
  width: 20px;
  height: 20px;
}
/*-----------Clients--------*/
.clients-had {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}
.clients-section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.clients-list {
  display: flex;
}
.clients-list .clients-item + .clients-item {
  margin-left: 30px;
}
.clients-item {
  flex-basis: calc((100% - 5 * 30px) / 6);
}

.clients-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 92px;
  fill: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: fill 250ms var(--timing-function),
    border-color 250ms var(--timing-function);
}
.clients-icon {
}
.clients-link:hover,
.clients-link:focus {
  fill: var(--accent-color);
  border-color: var(--accent-color);
}

/*----------Portfolio------*/

.button-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.button-list .button-item + .button-item {
  margin-left: 8px;
}
.button-item {
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--background-color);
}
.button-name {
  min-width: 72px;
  border-radius: 4px;
  border: 1px solid transparent;
  padding: 6px 22px;
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--headertext-color);
  cursor: pointer;
  background-color: var(--background-color-mainteam);
  transition: color 250ms var(--timing-function),
    background-color 250ms var(--timing-function),
    box-shadow 250ms var(--timing-function);
}
.button-name:hover,
.button-name:focus {
  color: var(--background-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.button-name primery {
  background-color: F5F4FA;
  color: var(--headertext-color);
}
.button-name secondary {
  background-color: var(--accent-color);
  color: var(--background-color);
}
.portfolio {
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}
.portfolio-item {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}
.portfolio-link {
  transition: box-shadow 250ms var(--timing-function);
}
.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-thumb {
  position: relative;
  overflow: hidden;
}
/*.portfolio-overlay {
  position: absolute;
  background-color: rgba(33, 150, 243, 0.9);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms var(--timing-function),
    opacity 250ms var(--timing-function);
  opacity: 0;
}*/
.portfolio-link:hover .portfolio-thumb-text {
  transform: translateY(0);
}
.portfolio-thumb-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  padding: 63px 24px;
  position: absolute;
  background-color: rgba(33, 150, 243, 0.9);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms var(--timing-function);
  overflow: auto;
}
/*.portfolio-list .portfolio-item + .portfolio-item {
  margin-left: 30px;
}
.portfolio-list .portfolio-item + .portfolio-item {
  margin-bottom: 30px;
}

/*.portfolio-list .portfolio-item:nth-last-child(3n) {
  margin-right: 0px;
}
/*.portfolio-item {
  width: calc((100%-60px) / 3);
  margin-right: 30px;
}
.portfolio-item:nth-child(3n) {
  margin-right: 0px;
}
*/
.portfolio-link {
  display: block;
}
.portfolio-description {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;

  background-color: var(--background-color);
  transform: scale(1);
}
.portfolio-title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--headertext-color);
}
.portfolio-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
/*--------FOOTER--------*/

.footer {
  display: flex;
  padding-top: 60px;
  padding-bottom: 60px;
  background: var(--background-color-footer-main);
}
.main-footer-container {
  display: flex;
  align-items: baseline;
}
.footer-container {
}

.logo-footer-link {
  display: block;
  margin-bottom: 20px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--background-color);
}

.logo-footer {
  color: var(--accent-color);
}
.address-footer {
  font-style: normal;
}
.address-footer-list {
}

.address-item {
  margin-bottom: 8px;
}
.address-footer-link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--background-color);
  transition: color 250ms var(--timing-function);
}
.address-footer-link:hover,
.address-footer-link:focus {
  color: var(--accent-color);
}
.mail-footer-item {
  margin-bottom: 8px;
}
.mail-footer {
  margin-bottom: 8px;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--color-footer);
  text-decoration: none;
  transition: color 250ms var(--timing-function);
}
.mail-footer:hover,
.mail-footer:focus {
  color: var(--accent-color);
}
.tel-footer-item {
}
.tel-footer {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--color-footer);
  transition: color 250ms var(--timing-function);
}
.tel-footer:hover,
.tel-footer:focus {
  color: var(--accent-color);
}
/*-----Joing----*/
.joing-conteiner {
  margin-left: 70px;
}
.joing-head {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--background-color);
  margin-bottom: 20px;
}
.joing-list {
  display: flex;
}
.joing-item {
  display: inline-block;
}
.joing-list .joing-item + .joing-item {
  margin-left: 10px;
}

.joing-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: var(--background-color);
  background: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms var(--timing-function);
}
.joing-link:hover,
.joing-link:focus {
  background-color: var(--accent-color);
}
.joing-icon {
}
/*-------sign-------*/
.sign-conteiner {
  margin-left: 93px;
}
.form-footer-sign {
  display: flex;
  align-items: center;
}
.mail-label-footer {
  position: relative;
}
.input-footer-mail {
  padding-top: 15px;
  padding-bottom: 15px;
  width: 358px;
  padding-left: 16px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  background-color: var(--background-color-footer-main);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline-color: transparent;
}
.input-footer-mail:focus {
  border-color: rgba(255, 255, 255, 0.3);
}
.sign-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--background-color);
  margin-bottom: 20px;
}
.mail-user-footer {
  position: absolute;
  top: 50%;
  left: 50%;
}

.button-sign {
  margin-left: 10px;

  width: 200px;
  border-radius: 4px;
  border-color: transparent;
  padding: 10px 28px 10px 28px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--background-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms var(--timing-function);
  cursor: pointer;
  display: flex;
  position: relative;
}
.button-sign:hover,
.button-sign:focus {
  background-color: var(--button-backgroud-color);
}
.sign-icon-footer {
  position: absolute;
  top: 10%;
  right: 28px;
  transform: translateY(50%);
}

/*------overlay-----*/
.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms var(--timing-function),
    visibility 250ms var(--timing-function);
}
.modal {
  padding: 40px;
  width: 528px;
  min-height: 581px;
  background-color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms var(--timing-function);
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}
.modal-btn {
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: transparent;
  position: absolute;
  right: 8px;
  top: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: fill 250ms var(--timing-function);
}
.modal-btn:hover,
.modal-btn:focus {
  fill: var(--accent-color);
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
/*----------Text----modal-----*/
.form-fild {
  margin-bottom: 10px;
}
.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}
.modal-input {
  width: 100%;
  padding-bottom: 11px;
  padding-top: 11px;
  padding-left: 42px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  outline: transparent;
  transition: fill 250ms var(--timing-function);
}
.modal-input:focus,
.modal-coments:focus {
  border: 1px solid var(--accent-color);
}
.modal-input:focus + .modal-icon {
  fill: var(--accent-color);
}
.input-wrap {
  position: relative;
}
.modal-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
}
.form-label {
  padding: 0;
}
.form-fild-coments {
  margin-bottom: 20px;
}
.modal-coments {
  width: 100%;
  height: 100px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  padding: 12px 16px;
  outline: transparent;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-user {
  display: block;
  margin-bottom: 4px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
}
.form-fild-check {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}
.check-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  display: flex;
  align-items: center;
}
.check-text::before {
  content: "";
  width: 16px;
  height: 15px;
  border: 2px solid#212121;
  border-radius: 2px;
  margin-right: 5px;
}
.input-check:checked + .check-text::before {
  background-color: var(--accent-color);
  background-image: url(../images1/check.svg);
  background-position: center;
  background-repeat: no-repeat;
  border-color: transparent;
}
.input-check:focus {
  background-color: var(--accent-color);
  background-image: url(../images1/check.svg);
  background-position: center;
  background-repeat: no-repeat;
  border-color: transparent;
}

.check-link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: var(--accent-color);
  margin-left: 4px;
}
.modal-submit {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  border-color: transparent;
  padding: 10px 52px;
  text-align: center;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--background-color);
  background-color: var(--accent-color);
  transition: background-color 250ms var(--timing-function),
    box-shadow 250ms var(--timing-function);
  cursor: pointer;
}
.modal-submit:hover,
.modal-submit:focus {
  background-color: var(--button-backgroud-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/*.modal-close-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}*/
