.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}
.center {
  text-align: center;
}
.section {
  padding-bottom: 94px;
  padding-top: 94px;
}
