:root {
  --accent-color: #2196f3;
  --text-color: #757575;
  --background-color: #ffffff;
  --headertext-color: #212121;
  --color-footer: rgba(255, 255, 255, 0.6);
  --background-color-footer-main: #2f303a;
  --background-color-mainteam: #f5f4fa;
  --button-backgroud-color: #188ce8;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);}